{% extends 'barberShop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Criar Conta | Barbearia Amizades S & D{% endblock %}

{% block content %}

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <a href="#" tabindex="1"  title="Retornar a página inicial"><img src="{% static 'img/logo.png' %}" alt="logo da Barbearia Amizades S & D" class="logo"></a>
          </div>
          <div class="login-wrapper">
            <h1 class="login-title">Criar<br><p style="font-size:60px">Conta</p></h1><br>
        
            <form id="form-count" method= "POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
              
                {{form|crispy}}
                
                <button type="submit" class="btn btn-block login-btn">Cadastra r</button>
                
                <a href="{% url 'login'%}" class="forgot-password-link">Retornar ao login</a>                
              </form>

          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'img/login.jpg' %}" alt="Imagem do rosto de um capaz com os olhos corbertos por uma toalha umedecida. Há um outro homem se preparando para cortar a barbar, do rapaz com os olhos vendados, com o auxílio de uma navalha." class="login-img">
        </div>
      </div>
    </div>  
  </main>
{% endblock %}
