{% extends 'barberShop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Barbearia Amizades | Login{% endblock %}

{% block content %}

  <form class="form-signin" method= 'POST'>{% csrf_token %}
    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="200" >
    <!--<h1 class="h3 mb-3 font-weight-normal">Login</h1>-->
    <!--<label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required >-->
    <input type="hidden" name="next" value="{{ next }}">
    {{form|crispy}}
    <button class="btn btn-lg btn-dark btn-block" type="submit">Entrar</button>
    <a href="{% url 'index'%}" class="forgot-password-link">Retornar ao login</a>
    
  </form>


{% endblock %}