{% extends 'login/base-login.html' %} {% load static %} {% block title %}Login | Barbearia
Amizades S & D{% endblock %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#olho").mousedown(function () {
      $("#senha").attr("type", "text");
      $("#olho").html('<i class="fa fa-eye-slash"></i>');
    });
    $("#olho").mouseup(function () {
      $("#senha").attr("type", "password");
      $("#olho").html('<i class="fa fa-eye"></i>');
    });
  });
</script>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-sm-6 section-wrapper align-self-center">
      <div class="brand-wrapper">
        <a
          href="{% url 'home' %}"
          title="Retornar a página inicial"
          class="logo-preta"
          ><img
            src="{% static 'img/logotipo-barbearia-amizades-preto.png' %}"
            alt="logotipo da Barbearia Amizades S & D"
            class="logotipo"
        /></a>
      </div>
      <div class="login-wrapper">
        <h1 class="is-text-title text-dark">Faça </br>seu login</h1>
        <form class="mb-2" method="POST" action="{% url 'acessoLogin' %}">
          {% csrf_token %}
          <div class="form-group">
            <label class="text-dark-yellow" for="usuario"
              ><h3 class="mb-0">Usuário</h3></label
            >
            <input
              required
              type="text"
              maxlength="60"
              name="usuario"
              id="usuario"
              class="form-control"
              title="digite seu usuário"
              placeholder="digite seu usuário"
            />
          </div>
          <div class="mb-4" id="form-password">
            <label class="text-dark-yellow" for="senha"><h3 class="mb-0">Senha</h3></label>
            <div class="input-group">
              <input
                required
                type="password"
                maxlength="20"
                name="senha"
                id="senha"
                class="form-control"
                placeholder="digite sua senha"
                title="digite a senha"
              >
              <div class="input-group-append">
                <button
                  class="btn-1 btn-outline-secondary"
                  type="button"
                  id="olho"
                  title="Mostrar senha"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary btn-block"
            type="submit"
            value="Acessar"
          >
            Entrar
          </button>
        </form>
        <div>
          {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Fechar mensagem"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
        </div>
        <div>
          <a href="{% url 'recuperarSenha'%}" class="forgot-password-link"
          >Esqueceu a senha?
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img
        src="{% static 'img/login.jpg' %}"
        alt="Barbearia Amizades"
        class="img-fluid"
      />
    </div>
  </div>
</div>
{% endblock %}
