{% extends 'login/base-login.html' %}
{% load static %}
{% block title %}Recuperar Senha | Barbearia Amizades S & D{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function (){
    $("#formRecuperarSenha").on("submit", function(){
      $('.spinner-border').removeAttr("hidden");
      $('#formRecuperarSenha .btn').prop( "disabled", true );
    });
  });
</script>
  
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-6 section-wrapper">
          <div class="brand-wrapper">
            <a
              href="{% url 'home' %}" 
              title="Retornar a página inicial"
              class="logo-preta"
              ><img 
                src="{% static 'img/logotipo-barbearia-amizades-preto.png' %}" 
                alt="logotipo da Barbearia Amizades S & D" 
                class="logotipo" 
            /></a>
          </div>
          <div class="login-wrapper">
            <h1 class="is-text-title text-dark">Recuperar</br>senha</h1>
            <form class="mb-2" method="POST" action="{% url 'recuperarSenha' %}" id="formRecuperarSenha">
              {% csrf_token %}
              <div class="form-group">
                <label class="text-dark-yellow" for="usuario"
                ><h3 class="mb-0">Usuário</h3></label
                >
                <input 
                  required 
                  type="text" 
                  maxlength="60" 
                  name="usuario" 
                  id="usuario" 
                  class="form-control" 
                  title="digite seu usuário" 
                  placeholder="digite seu usuário" 
                />
              </div>
              <div class="form-group">
                <label class="text-dark-yellow" for="email"
                ><h3 class="mb-0">E-mail</h3></label
                >
                <input 
                  type="email" 
                  name="email" 
                  id="email" 
                  class="form-control" 
                  placeholder="email@exemplo.com"
                >
              </div>
              <button type="submit" class="btn btn btn-primary btn-block" id="enviarFormulario">
                <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Enviar
              </button>
            </form>
            <div>
              {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
              {% endfor %}
            </div>
            <div>
              <i class="fas fa-chevron-left"></i>
              <a href="{% url 'acessoLogin'%}" class="forgot-password-link">Retornar ao login</a><br>
            </div>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img
            src="{% static 'img/booking-section-background.jpg' %}"
            alt="Barbearia Amizades"
            class="img-fluid"
          />
        </div>
    </div>
  </div>

{% endblock %}
