.grid {
    display: grid;
}

ul {
    padding: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 350px;
    height: 300px;
}

.myNav {
    position: absolute;
    width: 100%;
    margin-top: 340px;
    text-align: center;
    z-index: 1;
    padding-top: 10px;
}

.myNav li {
    display: inline;
    list-style-type: none;
    padding: 20px 20px 0 20px;
}

.myNav li a {
    color: black;
}

.myNav li :hover {
    text-decoration: none;
}

.socialNetwork {
    margin: 35px 0 0 20px;
    padding-top: 8px;
    height: 43px;
    width: 80px;
    z-index: 2;
    display: flex;
    justify-content: right;
}

.socialNetwork a {
    color: black;
    padding: 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    footer {
        font-size: .7rem;
    }

    .logo img {
        width: 200px;
        height: 150px;
    }

    .myNav {
        margin-top: 170px;
        padding-top: 10px;
    }

    .myNav li {
        display: inline;
        list-style-type: none;
        padding: 0px 0px 0 7px;
    }

    .socialNetwork {
        border-top: 1px solid rgb(185, 185, 185);
        border-bottom: 1px solid rgb(185, 185, 185);
        margin: 70px 0 0 0;
        height: 43px;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
    }

    .socialNetwork a {
        padding: 0 10px 0 10px;
    }
}