{% extends 'minha-conta/base.html' %}
{% load static %}
{% block title %} Relatórios | Barbearia Amizades S & D{% endblock %}
{% block module_title %}Relatórios{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function(){
        $('#divRelatorioEspecialista').hide();
        $("select#qualRelatorio").change(function(){
            var itemSelecionado = $(this).children("option:selected").val();
            if (itemSelecionado == 'Agendamentos por Especialista') {
                $('#divRelatorioEspecialista').show();
            } else {
                $('#divRelatorioEspecialista').hide();
            }
        });
    });
</script>
  <div class="container-fluid">

    <form action="{% url 'relatorios' %}" method="POST">
        {% csrf_token %}
        <div class="row module-title">
            <div class="col">
                <label for="qualRelatorio">Qual o relatório: </label>
                <select id="qualRelatorio" name="qual-relatorio" onchange="verifica(this.value)" class="form-control">
                    <option selected>Todos</option>
                    <option>Agendamentos por Especialista</option>
                    <option>Agendamentos do Mês</option>
                    <option>Agendamentos Ativos</option>
                    <option>Agendamentos Finalizados</option>
                    <option>Agendamentos Cancelados</option>
                    <option>Agendamentos Pendentes</option>
                </select>
            </div>
            <div class="col" id="divRelatorioEspecialista">
                <label for="relatorioEspecialista">Qual o especialista: </label>
                <select id="relatorioEspecialista" name="especialista" class="form-control">
                    <option>Selecione um</option>
                    <option>Chiquinho Oliveira</option>
                    <option>Sandrinho Santos</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary module-title">Filtrar</button>
    </form>

   <p id="lengthRowTable"></p>

  </div>
  <div id="listingTable" class="container-fluid">
    <div>
      {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
      {% endfor %}
    </div>

    <table class="table table-striped table-dark table-hover text-center" id="tableAllResults">
      <thead>
        <tr>
          <th scope="col" class="align-middle">Código</th>
          <th scope="col" class="align-middle">Agendado <br> Em</th>
          <th scope="col" class="align-middle">Nome <br> Cliente</th>
          <th scope="col" class="align-middle">Telefone <br> Cliente</th>
          <th scope="col" class="align-middle">E-mail <br> Cliente</th>
          <th scope="col" class="align-middle">Data <br> Atendimento</th>
          <th scope="col" class="align-middle">Especialista <br> </th>
          <th scope="col" class="align-middle">Período <br> Atendimento</th>
          <th scope="col" class="align-middle">Serviço</th>
          <th scope="col" class="align-middle">Situação</th>
          <th scope="col" class="align-middle">Observação</th>
        </tr>
      </thead>
      <tbody>
      {% for valor in agendamentos_cadastrados %}
        <tr data-toggle="modal" data-target="#modaEditDeleteBooking">
          <td class="align-middle" scope="row" id="codeBooking">{{ valor.id }}</td>
          <td class="align-middle" id="agendadoEm">{{ valor.res_agendado_em }}</td>
          <td class="align-middle" id="nomeCliente">{{ valor.res_nome_cliente }}</td>
          <td class="align-middle">{{ valor.res_telefone_cliente }}</td>
          <td class="align-middle" id="emailCliente">{{ valor.res_email_cliente }}</td>
          <td class="align-middle" id="dataAtendimento">{{ valor.res_data_atendimento }}</td>
          <td class="align-middle">{{ valor.res_especialista }}</td>
          <td class="align-middle" id="periodoAtendimento">{{ valor.res_periodo_atendimento }}</td>
          <td class="align-middle">{{ valor.res_servicos }}</td>
          <td class="align-middle" id="statusAtendimento">{{ valor.res_status }}</td>
          <td class="align-middle">{{ valor.res_observacao }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}