{% extends 'minha-conta/base.html' %}
{% load static %}
{% block title %}Editar Usuário | Barbearia Amizades S & D{% endblock %}
{% block module_title %}Editar Usuário{% endblock %}
{% block content %}
<div class="container-fluid module-title">
    <form method="POST" class="form-register-user" id="formEditUser">
        {% csrf_token %}
        {{ form_usuario.as_p }}
    </form>
    
    <button type="submit" form="formEditUser" class="btn btn-primary module-title" aria-label="Botão para salvar alteração do usuário" id="btnSaveEditUser" title="Salvar alterações do serviço">
        Salvar Alteração
    </button>

    <a class="btn btn-outline-secondary module-title" href="{% url 'contasCadastradas' %}" aria-label="Botão para redirecionar para a listagem das contas cadastradas" title="Ir para Contas Cadastradas">
        Consultar Contas
    </a>

    <div>
        {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    
    <ul class="list-group" id="listUserSelected">
        <li class="list-group-item active h5">Visualizar Alteração</li>
        <li class="list-group-item"><strong>Código:</strong> {{ id_usuario_selecionado }}</li>
        <li class="list-group-item"><strong>Nome:</strong> {{ instanciaUsuario.us_nome }}</li>
        <li class="list-group-item"><strong>Usuário:</strong> {{ instanciaUsuario.us_usuario }}</li>
        <li class="list-group-item"><strong>Senha:</strong> {{ instanciaUsuario.us_senha }}</li>
    </ul>
</div>
{% endblock %}