{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'style/css/minhaconta.css' %}" rel="stylesheet">
  </head>

  <body id="page-top">
    <div id="wrapper">
    
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
          <img class="simbol-logo" src="{% static 'img/simbolo-branco.png' %}" alt="Símbolo da Barbearia Amizades S & D" class="logo">
          <div class="sidebar-brand-text mx-3">Admin.</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active" title="Ir para o painel de monitoração">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

         <!-- Heading -->
        <div class="sidebar-heading">
          Configuração
        </div>

        <!-- Nav Item - Count Collapse Menu -->
        <li class="nav-item" title="Ir para Gestão de Conta">
          <a class="nav-link collapsed" href="{% url 'usuariosCadastrados' %}">
            <i class="fas fa-fw fa-user"></i>
            <span>Conta</span>
          </a>
        </li>

        <!-- Nav Item - Schedul Collapse Menu -->
        <li class="nav-item" title="Ir para Gestão da Agenda">
          <a class="nav-link collapsed" href="{% url 'agendamentosCadastrados' %}">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Agenda</span>
          </a>
        </li>

        <!-- Nav Item - Service Collapse Menu -->
        <li class="nav-item" title="Clique para ver as opções">
          <a class="nav-link collapsed" href="{% url 'servicosCadastrados' %}">
            <i class="fas fa-fw fa-cut"></i>
            <span>Serviços</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Utilitário
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item" title="Clique para gerar os relatórios">
          <a class="nav-link" href="{% url 'relatorios' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Relatórios</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline" title="Alternar barra de navegação">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ nome_usuario }}</span>
                {% if nome_usuario == "Chiquinho Oliveira"%}
                  <img class="img-profile rounded-circle" src="https://i.ibb.co/tXWf6dm/perfil-logado-daniel.jpg">
                {% else %}
                  <img class="img-profile rounded-circle" src="https://i.ibb.co/BCy1HcB/perfil-logado-sandro.jpg">
                {% endif %}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <form method="POST" action="{% url 'deslogarMinhaConta' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item" data-toggle="modal" data-target="#logoutModal" title="Sair do módulo administrativo">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sair
                  </button>
                </form>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        
        <!-- Module Title -->
        <h1 class="h3 text-gray-800 container-fluid module-title">{% block module_title %}{% endblock %}</h1>

        {% comment %} <!-- Dropdown Service -->
          <div class="dropdown module-title container-fluid">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownButtonService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu Serviços
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownButtonService">
              <div class="dropdown-item dropdown-item-service">Cadastrar Serviços</div>
              <div class="dropdown-item dropdown-item-service">Alterar Serviços</div>
              <div class="dropdown-item dropdown-item-service">Consultar Serviços</div>
            </div>
          </div> {% endcomment %}

        {% block content %}
        {% endblock %}
        
      
      </div>
      <!-- End of Content Wrapper -->

      </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded text-light" id="backToTop" title="Retornar ao topo" aria-label="Botão para retonar ao topo">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'script/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'script/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/js/minhaconta.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  </body>
</html>
