{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static  'js/scripts.js' %}"></script>

</head>
<body>
    <header> 
        <p> Menu de Navegação</p>
    </header>

    <div>
        <p>Conteúdo</p>
    </div>

    <footer>
        <p> ©2020 por Barbearia Amizades S & D </p>
    </footer>

</body>
</html>