{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendamento | Barberia Amizades S & D</title>

    <link
      href="{% static 'fontawesome/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesome/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{% static 'style/css/bootstrap/style.css' %}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{% static 'style/css/agendamento.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/css/calendar.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/css/login.css' %}"
      type
      ="text/css"
    />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
      type="text/css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        
        var sem_periodo_disponivel = "{{ sem_periodo_disponivel }}";
        var especialista_indisponivel = "{{ especialista_indisponivel }}";
        var data_enviada = "{{ data_enviada }}";

        if (
          sem_periodo_disponivel &&
          especialista_indisponivel == "Chiquinho Oliveira"
        ) {
          $("#formRegistrarAgendamentoDaniel").hide();
        } else if (
          sem_periodo_disponivel &&
          especialista_indisponivel == "Sandrinho Santos"
        ) {
          $("#formRegistrarAgendamentoSandro").hide();
        }

        if (data_enviada != "") {
          $("#formulariosAgendamento").show();
        } else {
          $("#formulariosAgendamento").hide();
        }

        $("#formRegistrarAgendamentoDaniel").on("submit", function () {
          $("#submitFormDaniel .spinner-border").removeAttr("hidden");
          $("#submitFormDaniel").prop("disabled", true);
          $("#submitFormSandro").prop("disabled", true);
        });

        $("#formRegistrarAgendamentoSandro").on("submit", function () {
          $("#submitFormSandro .spinner-border").removeAttr("hidden");
          $("#submitFormDaniel").prop("disabled", true);
          $("#submitFormSandro").prop("disabled", true);
        });
      });

      $(function(){
        $('.datepicker').datepicker({
         
          onSelect: function(dateText, inst) {
            $("input[name='dia-atendimento']").val(dateText);
          },
          prevText: '<i class="fas fa-chevron-left"></i>',
          nextText: '<i class="fas fa-chevron-right"></i>',
          monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho',
                'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
          monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
                'Jul','Ago','Set','Out','Nov','Dez'],
          dayNames: ['Domingo','Segunda-feira','Terça-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
          dayNamesShort: ['DOM','SEG','TER','QUA','QUI','SEX','SAB'],
          dayNamesMin: ['DOM','SEG','TER','QUA','QUI','SEX','SAB'],
          minDate: 0,
         
        });
      });     
    </script>
  </head>
  <body>
    <!-- LOADER -->
    <!-- 
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->

    <!-- Formulário para veriricar períodos disponíveis -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-sm-6 section-wrapper">
          <div class="brand-wrapper">
            <a
              href="{% url 'home' %}"
              title="Retornar a página inicial"
              class="logo-preta"
            >
              <img
                src="{% static 'img/logotipo-barbearia-amizades-preto.png' %}"
                alt="logotipo da Barbearia Amizades S & D"
                class="logotipo"
            /></a>
          </div>
          <div class="wrapper">
            <h1 class="is-text-title text-dark">Agendamento</h1>
            <div class="line-shape-dark"></div>

            <h3 class="text-dark-yellow h4 mt-2">Selecione o profissional e horário</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-5 section-wrapper mt-0 pt-3">
          <div class="form-group">
            <form
              class="module-title text-left"
              action="{% url 'periodosDisponiveis' %}"
              method="POST"
              id="formPeriodosDisponiveisHome"
            >
              {% csrf_token %}
              <div class="input-group">
                <input
                  type="hidden"
                  name="origem-usuario"
                  value="institucional"
                />
                <div
                  id="datepicker"
                  class="datepicker"
                ></div>
                <input 
                  type="text"
                  aria-describedby="ajudaDiaAtendimento"
                  id="diaAtendimento"
                  name="dia-atendimento">
                </input>
                <button
                  type="submit"
                  class="btn btn-primary"
                  form="formPeriodosDisponiveisHome"
                  style="padding: 10px 30px; margin-left: 50%;"
                  title="Clique para verificar a disponibilidade de horários"
                >
                  Pesquisar
                </button>
              </div>
            </form>
          </div>
          <div>
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Fechar mensagem"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
            {% endfor %}
          </div>

        </div>
        <div class="col-xl-6">
          <div
            class="form-row text-left"
            id="formulariosAgendamento"
          >
            <!-- Formulário do Chiquinho (Daniel) -->
            <h3 class="text-dark-yellow h4">{{ data_enviada_formatada }}</h3>
            
            <form
              class="module-title mb-4"
              action="{% url 'cadastrarAgendamento' %}"
              method="POST"
              id="formRegistrarAgendamentoDaniel"
            >
              {% csrf_token %}
              <div class="card mr-md-3">
                <a href="#formularioChiquinho" data-toggle="collapse">
                <div class="row align-items-center">
                  <div class="col-3">
                    <img
                    class="card-img-top rounded"
                    src="{% static 'img/perfil_daniel.png'%}"
                    alt="Barbeiro Chiquinho Oliveira"/>
                  </div>
                  <div class="col-4">
                    <h3 class="card-title">Chiquinho Oliveira</h3>
                    <div class="line-shape-dark"></div>
                  </div>
                </div>
              </a>
                
                <div class="card-body collapse"  id="formularioChiquinho">
                  <input
                    type="hidden"
                    name="nome-especialista"
                    value="Chiquinho Oliveira"
                  />
                  <input
                    type="hidden"
                    name="data-enviada"
                    value="{{ data_enviada }}"
                  />
                  <input
                    type="hidden"
                    name="data-enviada-por-email"
                    value="{{ data_enviada_formatada }}"
                  />

                  <div class="form-group">
                    <label for="periodoAtendimento"><h3 class="text-dark-yellow h4">Qual o horário?</h3></label>
                        <select 
                          required
                          id="periodoAtendimento"
                          name="periodo-atendimento"
                          title="Selecione um período"
                          onchange="exibirCampos()"
                          class="form-control">
                          {% for chave, valor in periodos_chiquinho.items %}
                          <option value="{{ chave }}">{{ valor }}</option>
                          {% endfor %}
                        </select>
                  </div>

                  <div class="form-group">
                    <label for="nomeCliente"><h3 class="text-dark-yellow h4">Quem será atendido?</h3></label>
                    <input
                      required
                      type="text"
                      id="nomeCliente"
                      name="nome-cliente"
                      class="form-control"
                      maxlength="60"
                      title="digite o nome completo"
                      placeholder="nome completo"
                    />
                  </div>

                  <div class="form-group">
                    <label for="telefoneCliente"><h3 class="text-dark-yellow h4">Qual o telefone?</h3></label>
                    <input
                      required
                      type="tel"
                      id="telefoneCliente"
                      name="telefone-cliente"
                      maxlength="11"
                      class="form-control"
                      title="digite apenas os números com ddd"
                      placeholder="ex: (00) 00000-0000"

                    />
                  </div>

                  <div class="form-group">
                    <label for="emailCliente"><h3 class="text-dark-yellow h4">Qual o e-mail?</h3></label>
                    <input
                      required
                      type="email"
                      id="emailCliente"
                      name="email-cliente"
                      maxlength="254"
                      class="form-control phone-ddd-mask"
                      title="digite um e-mail válido"
                      placeholder="e-mail"
                    />
                  </div>
                  
                  <div class="form-group">
                    <label for="observacao"><h3 class="text-dark-yellow h4">Observações</h3></label>
                    <textarea id="observacao" class="form-control" rows="7" cols="40" name="observacao-atendimento" style="height:100px; min-width: 250px"></textarea>
                  </div>
                  
                  <div class="form-group">
                    <label><h3 class="text-dark-yellow h4">Qual(is) serviço(s)</h3></label>
                    <div class="row d-flex justify-content-start">
                    {% for valor in servicos_cadastrados %}
                      <div class="col-sm-5">
                      <input
                        type="checkbox"
                        id="{{ valor }}Daniel"
                        name="servicos-selecionados"
                        value="{{ valor }}"
                      />
                      <label for="{{ valor }}Daniel">{{ valor }}</label>
                    </div>
                    {% endfor %}
                    </div>
                  </div>
                
                <button
                  type="submit"
                  id="submitFormDaniel"
                  class="btn btn-primary btn-fullwidth"
                  title="Confirmar agendamento"
                >
                  <span
                    hidden
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Agendar
                </button>
              </div>
            </div>
            </form>
              

            <!-- Formulário do Sandrinho (Sandro) -->

            <form
              class="module-title"
              action="{% url 'cadastrarAgendamento' %}"
              method="POST"
              id="formRegistrarAgendamentoSandro"
            >
              {% csrf_token %}
              <div class="card mr-md-3">
                <a href="#formularioSandro" data-toggle="collapse">
                <div class="row align-items-center">
                  <div class="col-3">
                    <img
                      class="card-img-top rounded"
                      src="{% static 'img/perfil_sandro.png'%}"
                      alt="Barbeiro Sandrinho Santos"
                    />
                  </div>
                  <div class="col-4">
                    <h3 class="card-title">Sandrinho Santos</h3>
                    <div class="line-shape-dark"></div>
                  </div>
                </div>
              </a>

                <div class="card-body collapse" id="formularioSandro">
                  <input
                    type="hidden"
                    name="nome-especialista"
                    value="Sandrinho Santos"
                  />
                  <input
                    type="hidden"
                    name="data-enviada"
                    value="{{ data_enviada }}"
                  />
                  <input
                    type="hidden"
                    name="data-enviada-por-email"
                    value="{{ data_enviada_formatada }}"
                  />

                  <div class="form-group">
                    <label for="periodoAtendimento"><h3 class="text-dark-yellow h4">Qual o horário?</h3></label>
                        <select 
                          required
                          id="periodoAtendimento"
                          name="periodo-atendimento"
                          title="Selecione um período"
                          onchange="exibirCampos()"
                          class="form-control">
                          {% for chave, valor in periodos_sandrinho.items %}
                          <option value="{{ chave }}">{{ valor }}</option>
                          {% endfor %}
                        </select>
                  </div>

                  <div class="form-group">
                    <label for="nomeCliente"><h3 class="text-dark-yellow h4">Quem será atendido?</h3></label>
                    <input
                      required
                      type="text"
                      id="nomeCliente"
                      name="nome-cliente"
                      class="form-control"
                      maxlength="60"
                      title="digite o nome completo"
                      placeholder="nome completo"
                    />
                  </div>

                  <div class="form-group">
                    <label for="telefoneCliente"><h3 class="text-dark-yellow h4">Qual o telefone?</h3></label>
                    <input
                      required
                      type="tel"
                      id="telefoneCliente"
                      name="telefone-cliente"
                      maxlength="11"
                      class="form-control"
                      title="digite apenas os números com ddd"
                      placeholder="ex: (00) 00000-0000"
                    />
                  </div>

                  <div class="form-group">
                    <label for="emailCliente"><h3 class="text-dark-yellow h4">Qual o e-mail?</h3></label>
                    <input
                      required
                      type="email"
                      id="emailCliente"
                      name="email-cliente"
                      maxlength="254"
                      class="form-control"
                      title="digite um e-mail válido"
                      placeholder="e-mail"
                    />
                  </div>
                  <div class="form-group">
                    <label for="observacao"><h3 class="text-dark-yellow h4">Observações</h3></label>
                    <textarea id="observacao" class="form-control" rows="7" cols="40" name="observacao-atendimento" style="height:100px; min-width: 250px"></textarea>
                  </div>
                  <div class="form-group">
                    <label><h3 class="text-dark-yellow h4">Qual(is) serviço(s)</h3></label>
                    <div class="row d-flex justify-content-start">
                    {% for valor in servicos_cadastrados %}
                      <div class="col-sm-5">
                      <input
                        type="checkbox"
                        id="{{ valor }}Sandro"
                        name="servicos-selecionados"
                        value="{{ valor }}"
                      />
                      <label for="{{ valor }}Sandro">{{ valor }}</label>
                    </div>
                    {% endfor %}
                    </div>
                  </div>

                <button
                  type="submit"
                  id="submitFormSandro"
                  class="btn btn-primary"
                  title="Confirmar agendamento"
                >
                  <span
                    hidden
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Agendar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'script/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/js/minhaconta.js' %}"></script>
    <script src="{% static 'script/js/calendar.js' %}"></script>
    <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/bootstrap/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'script/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/main.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
