{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento | Barberia Amizades S & D</title>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'style/css/minhaconta.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="{% static 'style/css/bootstrap/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            var sem_periodo_disponivel = "{{ sem_periodo_disponivel }}";
            var especialista_indisponivel = "{{ especialista_indisponivel }}";
            var data_enviada = "{{ data_enviada }}";

            if (sem_periodo_disponivel && especialista_indisponivel == "Chiquinho Oliveira"){
                $('#formRegistrarAgendamentoDaniel').hide();
            } else if (sem_periodo_disponivel && especialista_indisponivel == "Sandrinho Santos"){
                $('#formRegistrarAgendamentoSandro').hide();
            };

            if (data_enviada != ''){
                $('#formulariosAgendamento').show();
            } else {
                $('#formulariosAgendamento').hide();
            };

            $("#formRegistrarAgendamentoDaniel").on("submit", function(){
                $('#submitFormDaniel .spinner-border').removeAttr("hidden");
                $('#submitFormDaniel').prop( "disabled", true );
                $('#submitFormSandro').prop( "disabled", true );
            });

            $("#formRegistrarAgendamentoSandro").on("submit", function(){
                $('#submitFormSandro .spinner-border').removeAttr("hidden");
                $('#submitFormDaniel').prop( "disabled", true );
                $('#submitFormSandro').prop( "disabled", true );
            });
        });
    </script>

</head>
 <body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #f8f8f9;">
     <!-- LOADER -->

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

<!-- Formulário para veriricar períodos disponíveis -->

<div class="container-fluid mx-auto  text-center">
    <img src="{% static 'img/logo.png' %}" class="img-fluid" style="margin-top:30px" alt="Logo Barbearia" width="350px"><br>
    <h1 style="color: #2b303a;margin-top:30px" data-aos="fade-up">Agendamento</h1>

    <div style="margin-top:50px" class="d-flex justify-content-center">
        <form class="module-title text-left" action="{% url 'periodosDisponiveis' %}" method="POST" id="formPeriodosDisponiveisHome">
            {% csrf_token %}
            <label for="diaAtendimento">Qual o dia?</label>
            <div class="input-group">
                <input type="hidden" name="origem-usuario" value="institucional">
                <input type="date" id="diaAtendimento" name="dia-atendimento" class="form-control" style="margin-right: 10px;" aria-describedby="ajudaDiaAtendimento">
                <button type="submit" class="btn btn-primary" form="formPeriodosDisponiveisHome"  style="padding: 5px 30px;" title="Clique para verificar a disponibilidade de horários">Pesquisar</button>
            </div>
            <small id="ajudaDiaAtendimento" class="form-text">clique na seta para ver o calendário</small>
        </form>
    </div>
    <div>
        {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-outline-secondary module-title" style="margin-top: 15px" href="{% url 'home' %}" aria-label="Botão para redirecionar para a página principal (home)" title="Ir para Página Principal">
        Retornar para Home
    </a>

    <div class="module-title p-3 bg-white text-dark rounded" style="border-left:2px solid black">
        <label><strong>Data selecionada: {{ data_enviada_formatada }}</strong></label>
        <small class="form-text text-uppercase">verifique os especialistas e períodos disponíveis abaixo.</small>
        <small class="text-danger">Todos os campos devem ser preenchidos.</small>
    </div>

    <div class="form-row justify-content-center text-left" id="formulariosAgendamento">
        <!-- Formulário do Chiquinho (Daniel) -->
        <form class="module-title" action="{% url 'cadastrarAgendamento' %}" method="POST" id="formRegistrarAgendamentoDaniel">
            {% csrf_token %}
            <div class="card mr-md-3">
                <img class="card-img-top" src="{% static 'img/perfil_daniel.jpg'%}" alt="Barbeiro Chiquinho Oliveira">
                <div class="card-body">
                    <h5 class="card-title text-center">Chiquinho Oliveira</h5>
                    <input type="hidden" name="nome-especialista" value="Chiquinho Oliveira"/>
                    <input type="hidden" name="data-enviada" value="{{ data_enviada }}"/>
                    <input type="hidden" name="data-enviada-por-email" value="{{ data_enviada_formatada }}"/>

                    <hr>

                    <div class="form-group">
                        <label for="nomeCliente">Quem será atendido?</label>
                        <input required type="text" id="nomeCliente" name="nome-cliente" class="form-control" maxlength="60" title="digite o nome completo" placeholder="digite o nome completo">
                    </div>
                    
                    <div class="form-group">
                        <label for="telefoneCliente">Qual o telefone?</label>
                        <input required type="number" id="telefoneCliente" name="telefone-cliente" maxlength="11" class="form-control" title="digite apenas os números com ddd" placeholder="digite apenas os números com ddd">
                    </div>

                    <div class="form-group">
                        <label for="emailCliente">Qual o e-mail?</label>
                        <input required type="email" id="emailCliente" name="email-cliente" maxlength="254" class="form-control" title="digite um e-mail válido" placeholder="digite um e-mail válido">
                    </div>

                    <div class="form-group">
                        <label for="periodoAtendimento">Qual o período?</label>
                        <div class="mr-md-3">
                            <select required id="periodoAtendimento" class="form-control" name="periodo-atendimento" onchange="exibirCampos()" title="Selecione um período">
                                {% for chave, valor  in periodos_chiquinho.items %}
                                    <option value="{{ chave }}"> {{ valor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Qual(is) serviço(s)</label><br>
                        {% for valor in servicos_cadastrados %}
                            <input type="checkbox" id="{{ valor }}Daniel" name="servicos-selecionados" value="{{ valor }}">
                            <label for="{{ valor }}Daniel">{{ valor }}</label><br>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" id="submitFormDaniel" class="btn btn-primary" title="Confirmar agendamento">
                    <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Agendar
                </button>
            </div>
        </form>

        <!-- Formulário do Sandrinho (Sandro) -->
        <form class="module-title" action="{% url 'cadastrarAgendamento' %}" method="POST" id="formRegistrarAgendamentoSandro">
            {% csrf_token %}
            <div class="card mr-md-3">
                <img class="card-img-top" src="{% static 'img/perfil_sandro.jpg'%}" alt="Barbeiro Sandrinho Santos">
                <div class="card-body">
                    <h5 class="card-title text-center">Sandrinho Santos</h5>
                    <input type="hidden" name="nome-especialista" value="Sandrinho Santos"/>
                    <input type="hidden" name="data-enviada" value="{{ data_enviada }}"/>
                    <input type="hidden" name="data-enviada-por-email" value="{{ data_enviada_formatada }}"/>

                    <hr>

                    <div class="form-group">
                        <label for="nomeCliente">Quem será atendido?</label>
                        <input required type="text" id="nomeCliente" name="nome-cliente" class="form-control" maxlength="60" title="digite o nome completo" placeholder="digite o nome completo">
                    </div>
                    
                    <div class="form-group">
                        <label for="telefoneCliente">Qual o telefone?</label>
                        <input required type="number" id="telefoneCliente" name="telefone-cliente" maxlength="11" class="form-control" title="digite apenas os números com ddd" placeholder="digite apenas os números com ddd">
                    </div>
                    
                    <div class="form-group">
                        <label for="emailCliente">Qual o e-mail?</label>
                        <input required type="email" id="emailCliente" name="email-cliente" maxlength="254" class="form-control" title="digite um e-mail válido" placeholder="digite um e-mail válido">
                    </div>

                    <div class="form-group">
                        <label for="periodoAtendimento">Qual o período?</label>
                        <div class="mr-md-3">
                            <select required id="periodoAtendimento" class="form-control" name="periodo-atendimento" onchange="exibirCampos()" title="Selecione um período">
                                {% for chave, valor  in periodos_sandrinho.items %}
                                    <option value="{{ chave }}"> {{ valor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Qual(is) serviço(s)</label><br>
                        {% for valor in servicos_cadastrados %}
                            <input type="checkbox" id="{{ valor }}Sandro" name="servicos-selecionados" value="{{ valor }}">
                            <label for="{{ valor }}Sandro">{{ valor }}</label><br>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" id="submitFormSandro" class="btn btn-primary" title="Confirmar agendamento">
                    <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Agendar
                </button>
            </div>
        </form>
    </div>
</div>

    <script src="{% static 'script/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'script/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/js/minhaconta.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap/aos.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/bootstrap/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/main.js' %}"></script>
</body>
</html>