
{% extends 'login/base-login.html' %} {% load static %} {% block title%}Avalicao | Barbearia Amizades S & D{% endblock %} {% block content%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            $("#formCancelarAgendamento").on("submit", function(){
                $('#btnEnviarResposta .spinner-border').removeAttr("hidden");
                $('#btnEnviarResposta').prop( "disabled", true );
            });
        });
    </script>

<div class="container-fluid">
     <!-- LOADER -->

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-sm-6 section-wrapper-agenda align-self-center">
                <div class="brand-wrapper">
                    <a
                    href="{% url 'home' %}"
                    title="Retornar a página inicial"
                    class="logo-preta"
                    ><img
                        src="{% static 'img/logotipo-barbearia-amizades-preto.png' %}"
                        alt="logotipo da Barbearia Amizades S & D"
                        style="width: 200px;"
                    /></a>
                </div>
                <div class="wrapper">
                    <h3 class="is-text-title text-dark">Avaliar <br />Atendimento</h3>
                </div>
        
                {% for valor in reserva %}
                <div>
                    {% if status == False %}
                    <div>
                        <h2 class="h4 mb-4 mt-3">
                            Olá,
                            <strong class="capitalize text-dark-yellow"
                                >{{ valor.res_nome_cliente }}!</strong
                            >
                        </h2>
                        <div class="dados-cancelamento">
                            <p class="h5">Sua avaliação nos ajuda a melhorar!</p>
                            <p>Selecione abaixo o que você achou do nosso
                                atendimento e serviços prestados.</p>
                        </div>
                    </div>
                    {% else %}
                    <div>
                        <p class="h4 mb-5 mt-3">
                            Olá, <strong>{{ valor.res_nome_cliente }}!</strong>
                        </p>
                        <p class="dados-cancelamento">
                            Recebemos sua avaliação.
                            Se quiser, você pode agendar de novo clicando no botão abaixo.
                        </p>
                        <a class="btn btn-primary" href="{% url 'agendamentoHome' %}" title="Novo Agendamento">Novo agendamento</a>
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                <div style="margin-top:10px" class="d-flex justify-content-start">
                    {% if status == False %}
                    {% for valor in reserva %}
                    <form class="module-title text-left" id="formCancelarAgendamento" action="{% url 'avaliarAtendimento' valor.res_codigo_verificacao %}" method="POST">
                        {% csrf_token %}
                        <label for="cancelarAgendamento"><strong>O que achou do atendimento?</strong></label>
                        <select required id="cancelarAgendamento" class="form-control module-title" name="avaliacao_cliente">
                            <option value="5">Excelente!</option>
                            <option value="4">Ótimo</option>
                            <option value="3">Bom</option>
                            <option value="2">Não gostei</option>
                            <option value="1">Péssimo</option>
                        </select>
                        <label for="observacaoAvaliacao"><strong>Quer dizer algo a mais?</strong><br>
                        <textarea class="form-control" rows="7" cols="40" id="observacaoAvaliacao" name="observacao-avaliacao"></textarea><br>
                        <button type="submit" id="btnEnviarResposta" class="btn btn-primary" title="Enviar Avaliação">
                            <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Enviar Resposta
                        </button>
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block" style="margin-top: 100px">
                <img
                  src="{% static 'img/avaliar-atendimento.jpg' %}"
                  alt="Barbearia Amizades"
                  class="img-fluid"
                />
            </div>
        </div>
    </div>
</div>
{% endblock %}