{% extends 'login/base-login.html' %} {% load static %} {% block title%}Cancelar
Agendamento | Barbearia Amizades S & D{% endblock %} {% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $("#formCancelarAgendamento").on("submit", function () {
      $("#btnEnviarResposta .spinner-border").removeAttr("hidden");
      $("#btnEnviarResposta").prop("disabled", true);
    });
  });
</script>

<div
  class="clean-body"
  style="
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    background-color: #f8f8f9;
  "
>
  <!-- LOADER -->

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Formulário para veriricar períodos disponíveis -->
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-6 col-sm-6 section-wrapper align-self-center">
        <div class="brand-wrapper">
          <a
            href="{% url 'home' %}"
            title="Retornar a página inicial"
            class="logo-preta"
            ><img
              src="{% static 'img/logotipo-barbearia-amizades-preto.png' %}"
              alt="logotipo da Barbearia Amizades S & D"
              style="width: 200px;"
          /></a>
        </div>
        <div class="wrapper">
          <h3 class="is-text-title text-dark">Cancelar <br />Agendamento</h3>
        </div>

        {% for valor in reserva %}
        <div>
          {% if valor.res_status == 'Ativo'  %}
          <div>
            <p class="h4 mb-4">
              Olá,
              <strong class="capitalize text-dark-yellow">{{ valor.res_nome_cliente }}!</strong>
            </p>
            <div>
              <p class="h6">Detalhes sobre seu agendamento</p>
              Data: <strong>{{ valor.res_data_atendimento }}</strong><br />
              Profissional: <strong>{{ valor.res_especialista }}</strong><br />
            </div>
          </div>

          {% elif valor.res_status == 'Finalizado' %}
          <div>
            <p class="h4 mb-4">
              Olá, <strong>{{ valor.res_nome_cliente }}!</strong>
            </p>
            <p>
              Seu agendamento foi finalizado. Por favor, verifique o seu e-mail<br>
               e nos avalie, sua opnião é importante para nós!
            </p>
          </div>

          {% else%}
          <div>
            <p class="h4 mb-4">
              Olá, <strong>{{ valor.res_nome_cliente }}!</strong>
            </p>
            <p>
              Seu agendamento já foi cancelado. <br />
              Por favor verifique o seu e-mail.
            </p>
          </div>
          {% endif %}
        </div>
    <div style="margin-top:50px" class="d-flex justify-content-center">
        {% if status == False %}
            <form class="module-title text-center" id="formCancelarAgendamento" action="{% url 'cancelarAgendamentoPorEmail' valor.res_codigo_verificacao %}" method="POST">
                {% csrf_token %}
                <label for="cancelarAgendamento"><strong>Tem certeza que quer cancelar o agendamento?</strong></label>
                <select id="cancelarAgendamento" class="form-control module-title" name="cancelar-agendamento">
                    <option selected>Selecione uma opção</option>
                    <option>Sim</option>
                    <option>Não</option>
                </select>
                <button type="submit" id="btnEnviarResposta" class="btn btn-primary">
                    <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviar Resposta
                </button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
    <div>
        {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                  <span aria-hidden="true">&times;</span>
              </button>
            </form>
          </div>
        {% endfor %}
        <div>
          {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Fechar mensagem"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
