{% extends 'institucional/base.html' %}
{% load static %}
{% block title %}Home | Barbearia Amizades S & D{% endblock %}
{% block content %}

  <body class="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    <!-- LOADER -->

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">
  
     <!-- PAGE HOME -->  

    <div class="site-blocks-cover overlay" style="background-image: url(static/img/home-section-home.png);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row pt-4">
          <div class="col-lg col-xl-11">
            <div class="pl-0 ml-3 mt-5 mb-5">
              <img 
              src="{% static 'img/logotipo-barbearia-amizades-branco.png' %}" 
              width="18%"
              alt="logotipo da barbearia amizades"
              >
            </div>
            <div class="pl-3 pt-4">
              <h1 data-aos="fade-up">
                Respeito</br> 
                pela tradição.
              </h1>
              <div class="line-shape mb-3"></div>
              <div class="col-6 pl-0 pt-3">
                <p class="mb-5 mr-30 desc">
                  Agende seu horário na barbearia mais tradicional do Campo Limpo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
        <span class="icon-angle-down"></span>
      </a>
    </div>  

    <!-- SOBRE-->  
    
    <section class="site-section cta-big-image" id="about-section">
      <div class="container" style="margin:0; padding:0; border:0;">
        <div class="row">
          <div class="col-lg-7 pt-5" data-aos="fade-up">
            <img 
            src="{% static 'img/home-section-sobre.jpg' %}" 
            alt="acessórios de barbearia" 
            class="img-fluid"
            >
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4 mt-5 pl-5">
              <h1 class="text-dark is-text-title">
                Barba, cabelo, bigode e parceria.
              </h1>
              <div class="line-shape-dark"></div>
              <h5 class="text-dark-yellow mt-3">Aqui é lugar de amizade.</h5>
              <p>
                A Barberia Amizades S&D foi fundada em 2015 para ser a referência 
                em estilo na região do Campo Limpo. Com foco em oferecer um serviço 
                de alta qualidade com preço acessível, nos unimos para criar um salão 
                que vai muito além de dar um tapa no visual. 
              </p>
              <p>
                Nosso espaço oferece mesa de bilhar, internet wi-fi e TV a cabo, 
                tudo para criar o ambiente perfeito para relaxar, escolher um novo 
                corte e curtir.
              </p>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <!--SERVIÇOS--> 

    <section class="site-section p-0" id="services-section">
      <div class="container-fluid pt-5">
        <div class="row ml-3 pt-5">
          <div class="col-lg-5 p-5" data-aos="fade-up" data-aos-delay="100">
            <h1 class="mb-4 text-dark is-text-title">
              Nossas especialidades
            </h1>
            <div class="line-shape-dark"></div>

            <!-- carousel -->

            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h5 class="text-dark-yellow mt-3">Corte na Tesoura</h5>
                <p class="lead">
                  R$ 25,00
                </p>
                <p>
                  Os cortes com a tesoura são geralmente usados quando o cliente 
                  quer remover pouca quantidade cabelo. A tesoura dará forma e leveza
                  ao topo da cabeça. E não se engane achando que isso é apenas para 
                  cabelos lisos. Cabelos cacheados e afros também devem ser cortados 
                  com tesoura se o intuito é só manter o corte e tirar pouco cabelo.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Corte</h5>
                <p class="lead">
                  R$ 20,00
                </p>
                <p>
                  Corte de cabelo masculino máquina 1,  2 e 3, muitas pessoas acreditam 
                  que cortar cabelo na maquina estraga os fios, mas isso é uma grande 
                  mentira. Por isso, antes de saber como, é preciso desmistificar a 
                  ideia de que cortar o cabelo com máquina fará o fio crescer, grosso, 
                  cacheado ou modificá-lo de alguma forma. Isso não vai acontecer.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Barba</h5>
                <p class="lead">
                  R$ 20,00
                </p>
                <p>
                  Parem de tratar a barba e o cabelo como se eles pertencessem a mundos 
                  diferentes, senhores. Se vocês querem atingir um look irado, precisam 
                  botá-los em sincronia.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Progressiva</h5>
                <p class="lead">
                  R$ 45,00 <span style="color: red;">(a partir)</span>
                </p>
                <p>
                  Se você tem cabelos ondulados, cacheados ou crespos e quer alterar o 
                  visual de forma impactante, o indicado é a progressiva. Essa técnica 
                  muda completamente a estrutura do fio, alisando a estrutura capilar.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Platinado</h5>
                <p class="lead">
                  R$ 40,00 <span style="color: red;">(a partir)</span>
                </p>
                <p>
                  Muito popular e estiloso para quem quer apostar numa coloração mais 
                  ousada e visual bem moderno.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Corte Dimil</h5>
                <p class="lead">
                  R$ 30,00
                </p>
                <p>
                  Dimil ou Blindado – um corte que justamente resiste a impactos intensos
                  e até 7 dias sem que o penteado seja abalado.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Luzes</h5>
                <p class="lead">
                  R$ 30,00 <span style="color: red;">(a partir)</span>
                </p>
                <p>
                  Uma técnica para clarear e iluminar os cabelos. As luzes são mechas bem 
                  finas, que podem ser feitas por todo o cabelo ou apenas em pequenas partes. 
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Limpeza de Pele</h5>
                <p class="lead">
                  R$ 15,00
                </p>
                <p>
                  Um tratamento que ajuda a remover todas as impurezas no rosto, como acúmulo 
                  de produtos, maquiagem e resíduos de poluição. 
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Sobrancelha</h5>
                <p class="lead">
                  R$ 5,00
                </p>
                <p>
                  O formato das sobrancelhas são como um canal de transmissão de mensagens. 
                  Elas falam quem você é! Por quê? As linhas e o formato do nosso rosto transmitem 
                  sensações e emoções para o cérebro das pessoas. 
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Pézinho</h5>
                <p class="lead">
                  R$ 5,00
                </p>
                <p>
                  Um acabamento perfeito é o que o diferencia dos demais.
                </p>
              </div>

              <div>
                <h5 class="text-dark-yellow mt-3">Desenho</h5>
                <p class="lead">
                  R$ 10,00 <span style="color: red;">(a partir)</span>
                </p>
                <p>
                  Quer deixar uma marca no mundo? Nós te ajudamos com a arte.
                </p>
              </div>

            </div>
            
          </div>
          <div class="col-lg-7" data-aos="fade-up">
            <div class="custom-direction">
              <a href="#" class="custom-prev">
                <span><span class="icon-angle-left"></span></span>
              </a>
              <a href="#" class="custom-next">
                <span><span class="icon-angle-right"></span></span>
              </a>
            </div>
             <div class="owl-carousel slide-one-item-alt pl-5 mb-5" style="margin-right:0; padding-right:0; border:0;">
              <img 
              src="{% static 'img/home-section-home.png' %}" 
              width="50%" 
              alt="Image" 
              class="img-fluid"
              >
            </div>
            
            {% comment %} <div class="owl-carousel slide-one-item-alt pl-5 mb-5" style="margin-right:0; padding-right:0; border:0;">
              <img 
              src="{% static 'img/home-section-home.png' %}" 
              width="50%" 
              alt="Image" 
              class="img-fluid"
              >
              <img 
              src="{% static 'img/home-section-home.png' %}" 
              alt="Image" 
              class="img-fluid"
              >
              <img 
              src="{% static 'img/home-section-home.png' %}" 
              alt="Image" 
              class="img-fluid"
              >
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </section>

    <!--NOSSO TIME--> 
    
    <section class="site-section cta-big-image" id="team-section">
      <div class="container-fluid pt-5">
        <div class="row">
          <div class="col">
            <div class="pl-5 col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <h1 class="text-dark is-text-title ml-4">
                  Nosso time
                </h1>
                <div class="line-shape-dark mb-4 ml-4"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" style="margin:0; padding:0; border:0;">
            <img 
            src="{% static 'img/home-barbeiro-chiquinho.png' %}" 
            alt="barbeiro chiquinho oliveira" 
            class="img-fluid"
            style="filter: brightness(100%);" 
            >
            <div class="col-lg-5" style="position:absolute; top: 50%; left:10%;">
              <h1 class="text-gray">Chiquinho Oliveira</h1>
              <div class="line-shape-gray mb-4"></div>
              <h5 class="text-dark-yellow mt-3">barbeiro</h5>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" style="margin:0; padding:0; border:0;">
            <img 
            src="{% static 'img/home-barbeiro-sandro.png' %}" 
            alt="barbeiro sandrinho santos" 
            class="img-fluid"
            style="filter: brightness(80%);" 
            >
            <div class="col-lg-5" style="position:absolute; top: 50%; left:10%;">
              <h1 class="text-white">Sandrinho Santos</h1>
              <div class="line-shape-white mb-4"></div>
              <h5 class="text-dark-yellow mt-3">barbeiro</h5>
            </div>
          </div>

        </div>
        
      </div>  
    </section>

    <!-- AGENDA -->

    <section class="site-section" id="booking-section" style="margin:0; padding:0; border:0;">
      <div class="container pr-0">
        <div class="row" >
          
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4 mt-5 pl-5">
              <h1 class="mb-4 text-dark is-text-title">
                Agendamento
              </h1>
              <div class="line-shape-dark"></div>
              <h5 class="text-dark-yellow mt-3">Hora de Cortar!</h5>
              <p>
                Agende agora com um dos nossos especialistas clicando
              </p>
              <a type="button" href="{% url 'agendamento' %}" class="btn btn-primary" title="Ir para Agendamento">Nesse botão</a>
            </div>
          </div>
          <div class="col-lg-7 pt-5" data-aos="fade-up" >
            <img 
            src="{% static 'img/home-agendamento.jpg' %}" 
            alt="acessórios de barbearia" 
            class="img-fluid"
            >
          </div>
        </div>
      </div>  
    </section>
    

    <!--CONTATO--> 
  
    <section class="site-section" id="contact-section">
      <div class="container pt-5" style="margin:0; padding:0; border:0;">
        <div class="row">
          <div class="col-lg-7 mb-5" data-aos="fade-up">
            <img 
            src="{% static 'img/home-section-contato.png' %}" 
            alt="acessórios da barbearia amizades" 
            class="img-fluid"
            >
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4 pt-5 pl-5">
              <h1 class="mb-4 text-dark is-text-title">
                Contato
              </h1>
              <div class="line-shape-dark"></div>
              <div class="mt-4" style="line-height: 50px;">
                <a>
                  <span class="flaticon-email"><span class="text-dark" style="vertical-align: 8px;margin-left: 14px;">barbeariaamizades@gmail.com</span></span>
                </a>
              </div>
              <!--div style="line-height: 50px;">
                <a>
                  <span class="flaticon-telephone">
                    <span class="text-dark" style="vertical-align: 8px;margin-left: 14px;">
                      11 2222.5555
                    </span> 
                  </span>
                </a>
              </div-->
              <div>
                <a>
                  <span class="flaticon-placeholder">
                    <span class="text-dark" style="vertical-align: 8px;margin-left: 9px;">
                      R. Edmundo Antônio Pernetti, 212, 2° andar
                    </span>
                  </span>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.797810756999!2d-46.761575584458946!3d-23.214037984856393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cede637b596191%3A0xc82bb744e664cb6c!2sR.%20Edmundo%20Ant%C3%B4nio%20Pernetti%2C%20212%20-%202%C2%B0%20andar%20-%20Campo%20Limpo%20Paulista%2C%20SP%2C%2013232-281!5e0!3m2!1spt-BR!2sbr!4v1589947870011!5m2!1spt-BR!2sbr" width="400" height="190" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>

  </div> <!-- .site-wrap -->
  
  </body>

{% endblock %}