{% extends 'minha-conta/base.html' %}
{% load static %}
{% block title %} Agendamentos | Barbearia Amizades S & D{% endblock %}
{% block module_title %}Agendamentos{% endblock %}
{% block content %}

<div class="container-fluid">
<!-- Botão pra atualizar a página -->
  <button class="btn btn-primary module-title" aria-label="Botão para atualizar tabela de agendamentos cadastrados" id="btnRefreshPage" title="Atualizar tabela de agendamentos">
    Atualizar Tabela
  </button>

<!-- Botão pra redirecionar para tela de cadastro -->
  <a class="btn btn-outline-secondary module-title" href="{% url 'cadastrarAgendamento' %}" aria-label="Botão para redirecionar para o cadastro de um novo agendamento" title="Ir para Novo Agendamento">
    Novo Agendamento
  </a>

{% comment %} <!-- Filtro de busca -->
  <form method="GET" class="module-title input-group mb-3">
    <input type="text" class="form-control" name="search" id="search" placeholder="busque pelo nome do serviço">
    <div class="input-group-prepend">
      <button class="btn btn-primary" title="Buscar serviço" type="submit" aria-label="Botão para fazer a busca do serviço"><i class="fas fa-search"></i></button>
    </div>
  </form>
   {% endcomment %}

  <p id="lengthRowTable"></p>

  <div id="listingTable">
    <div>
      {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar mensagem">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
      {% endfor %}
    </div>

    <table class="table table-striped table-dark table-hover text-center" id="tableAllResults">
      <thead>
        <tr>
          <th scope="col" class="align-middle">Código</th>
          <th scope="col" class="align-middle">Realizado em</th>
          <th scope="col" class="align-middle">Nome <br> Cliente</th>
          <th scope="col" class="align-middle">Telefone <br> Cliente</th>
          <th scope="col" class="align-middle">E-mail <br> Cliente</th>
          <th scope="col" class="align-middle">Data <br> Atendimento</th>
          <th scope="col" class="align-middle">Período <br> Atendimento</th>
          <th scope="col" class="align-middle">Especialista</th>
          <th scope="col" class="align-middle">Serviço</th>
          <th scope="col" class="align-middle">Situação</th>
          <th scope="col" class="align-middle">Ações</th>
        </tr>
      </thead>
      <tbody>
      {% for valor in agendamentos_cadastrados %}
        <tr data-toggle="modal" data-target="#modaEditDeleteBooking">
          <td class="align-middle" scope="row" id="codeBooking">{{ valor.id }}</td>
          <td class="align-middle">{{ valor.res_data_realizacao }}</td>
          <td class="align-middle">{{ valor.res_nome_cliente }}</td>
          <td class="align-middle">{{ valor.res_telefone_cliente }}</td>
          <td class="align-middle">{{ valor.res_email_cliente }}</td>
          <td class="align-middle">{{ valor.res_data_atendimento }}</td>
          <td class="align-middle">{{ valor.res_periodo_atendimento }}</td>
          <td class="align-middle">{{ valor.res_especialista }}</td>
          <td class="align-middle">{{ valor.res_servicos }}</td>
          <td class="align-middle">{{ valor.res_status }}</td>
          <td class="align-middle">
          {% if valor.res_status != 'Cancelado'%}
            <button type="button" id="btnCancelarAgendamento" class="btn btn-danger" title="Excluir agendamento">
              <span hidden class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <i class="fas fa-trash-alt"></i>
            </button>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}